* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 8px;
    width: 400px;
    background-color: rgb(217, 236, 244);
    border-radius: 8px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

form legend {
    font-size: 30px;
    align-self: center;
}

form input {
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
}

.btn {
    align-self: center;
    font-size: 1rem;
    width: 42%;
    height: 30px;
    margin-bottom: 8px;
}

form div input {
    border: 2px solid green;
}
form div input:not(:focus):invalid {
    border: 2px solid black;
}
form div input:focus:invalid {
    border: 2px solid black;
}
form div input.error-input:invalid {
    border: 2px solid red;
}